/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Italianno|Montserrat&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; }

p {
  font-size: 22px;
  line-height: 28px;
  padding: 10px;
  margin-top: 10px; }

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }
  @media all and (min-width: 768px) {
    .container {
      max-width: 740px; } }
  @media all and (min-width: 1240px) {
    .container {
      max-width: 1140px; } }

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 15px; }
  @media all and (min-width: 768px) {
    .row {
      flex-direction: row; } }

.col {
  width: 100%;
  padding: 0 15px 15px 15px; }
  @media all and (min-width: 768px) {
    .col--md50 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media all and (min-width: 768px) {
    .col--md33 {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%; } }
  @media all and (min-width: 768px) {
    .col--md25 {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media all and (min-width: 1240px) {
    .col--lg50 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media all and (min-width: 1240px) {
    .col--lg33 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%; } }
  @media all and (min-width: 1240px) {
    .col--lg25 {
      flex: 0 0 25%;
      max-width: 25%; } }

.logo {
  text-decoration: none;
  color: #eff0f3;
  font-size: 12px; }
  @media all and (min-width: 768px) {
    .logo {
      font-size: 15px; } }

.heading--h1 {
  color: #eff0f3;
  opacity: .5;
  font-size: 20px;
  line-height: 20px;
  text-align: center; }
  @media all and (min-width: 768px) {
    .heading--h1 {
      font-size: 30px;
      line-height: 30px; } }
  @media all and (min-width: 1240px) {
    .heading--h1 {
      font-size: 40px;
      line-height: 40px; } }
.heading--h2 {
  font-size: 50px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 30px; }

.blackout {
  background-color: rgba(0, 0, 0, 0.5); }

.nav {
  display: none;
  background-color: #20222a;
  opacity: .25; }
  @media all and (min-width: 768px) {
    .nav {
      background: none;
      position: absolute;
      top: 5%; } }
  .nav__list {
    margin-top: 45%; }
    @media all and (min-width: 768px) {
      .nav__list {
        margin-top: 0; } }
  .nav__item {
    font-size: 18px;
    padding: 15px;
    text-align: center; }
    .nav__item:hover {
      background-color: #2b2e39; }
      @media all and (min-width: 768px) {
        .nav__item:hover {
          background: none; } }
    @media all and (min-width: 768px) {
      .nav__item {
        font-size: 20px;
        padding-left: 20px;
        padding-top: 0;
        display: inline-block; } }
  .nav__link {
    color: #eff0f3;
    text-decoration: none;
    letter-spacing: 2px; }
    .nav__link:hover {
      text-decoration: none; }

.btn {
  color: #454449;
  transition-duration: .5s;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer; }
  .btn--black:hover {
    background-color: #696474; }
  @media all and (min-width: 768px) {
    .btn {
      display: none; } }

.btn-send {
  color: #454449;
  transition-duration: .5s;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer; }
  .btn-send--send:hover {
    background-color: #696474;
    color: #eff0f3; }

.image-box {
  border-radius: 6px;
  box-shadow: 0px 0px 15px gray; }
  .image-box:hover {
    box-shadow: 0px 0px 25px gray;
    color: #eff0f3; }
  .image-box__image {
    height: 220px;
    display: block;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
    .image-box__image--one {
      background: url(../assets/img/mockup_gone_wild.jpg) center/cover no-repeat; }
    .image-box__image--two {
      background: url(../assets/img/mockup_portfolio.jpg) center/cover no-repeat; }
    .image-box__image--three {
      background: url(../assets/img/mockup_gone_wild.jpg) center/cover no-repeat; }
    .image-box__image--four {
      background: url(../assets/img/mockup_gone_wild.jpg) center/cover no-repeat; }
    @media all and (min-width: 768px) {
      .image-box__image {
        height: 280px; } }
  .image-box__text {
    text-align: center;
    padding: 10px;
    font-size: 24px; }
    .image-box__text--link {
      text-decoration: none;
      font-size: 15px;
      color: #9c98a6; }

.form {
  width: 95%; }
  @media all and (min-width: 768px) {
    .form {
      width: 60%; } }
  @media all and (min-width: 1240px) {
    .form {
      width: 40%; } }
  .form__label {
    font-size: 15px; }
  .form__input {
    color: #eff0f3;
    display: block;
    width: 80%;
    font-size: 22px;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
    border: 1px solid #eff0f3;
    border-radius: 4px;
    outline: 0;
    resize: none; }
    .form__input:focus {
      background-color: #9c98a6; }

.item {
  font-size: 100px;
  padding: 50px;
  color: #eff0f3;
  opacity: .1;
  text-align: center; }
  .item--link {
    text-decoration: none;
    color: #eff0f3;
    font-size: 20px;
    text-align: center; }

.to-top__link {
  padding: 12px;
  display: block;
  color: gray;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 4px;
  transition-duration: .4s; }
  .to-top__link:hover {
    background-color: #696474; }

.site-header {
  background: url(../assets/img/header.jpg) center/cover no-repeat;
  height: 100vh;
  background-attachment: fixed;
  position: relative; }
  .site-header__h1 {
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    bottom: 15%; }
  .site-header__blackout {
    height: 100%;
    width: 100%;
    position: absolute; }
  .site-header__button {
    position: absolute;
    right: 15px;
    top: 5%; }
  .site-header__nav {
    position: absolute;
    width: 100%;
    height: 100%; }
    @media all and (min-width: 768px) {
      .site-header__nav {
        display: flex;
        justify-content: flex-end;
        right: 5%;
        top: 5%; } }
  .site-header__logo {
    position: absolute;
    left: 5%;
    top: 5%; }

.site-section {
  min-height: 100vh; }
  .site-section--bg-color {
    background-color: #ecedf1; }

.site-footer {
  background-color: #454449;
  color: #eff0f3;
  width: 100%;
  height: 30vh;
  position: relative; }
  .site-footer__item {
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 15%; }
    .site-footer__item--link {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 35%; }

.site-contact {
  background: url(../assets/img/contact.jpg) center/cover no-repeat;
  position: relative;
  min-height: 100vh;
  width: 100%;
  color: #eff0f3; }
  .site-contact__h2 {
    position: absolute; }
  .site-contact__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.site-body__to-top {
  position: fixed;
  bottom: 15px;
  right: 15px; }

.text-align-center {
  text-align: center; }

.text-align-right {
  text-align: right; }

.text-align-justify {
  text-align: justify; }

.text-color-white {
  color: #eff0f3; }

/*# sourceMappingURL=main.css.map */
