.site-header {
    background: url(../assets/img/header.jpg) center/cover no-repeat;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    &__h1 {
        position: absolute;
        margin: 0 auto;
        right: 0;
        left: 0;
        bottom: 15%;
    }
    &__blackout {
        height: 100%;
        width: 100%;
        position: absolute;
    }
    &__button {
        position: absolute;
        right: $grid-base * 1.5;
        top: 5%;
    }
    &__nav {
        position: absolute;
        width: 100%;
        height: 100%;

        @include medium() {
            display: flex;
            justify-content:  flex-end;
            right: 5%;
            top: 5%;
        }
    }
    &__logo {
        position: absolute;
        left: 5%;
        top: 5%;
    }
}
